<ng-container *ngIf="seeModa">
  <div class="modal">
    <div class="bttnClose">
    <button (click)="toggle()">X</button>
  </div>
    <ng-content></ng-content>
    <div class="titleDiv">
      <h2>{{todos.todo}}</h2>
    </div>
    <div class="Bttns">
      <div class="bttn">
        <button (click)="deleteId(todos.id)">Delete</button>
      </div>
      <div class="bttn">
        <button (click)="toggle()">Cancel</button>
      </div>
    </div>
  </div>
  <div (click)="toggle()" class="overlay"></div>
</ng-container>
