<ng-container *ngIf="seeModa">
  <div class="modal">
    <div class="bttnClose">
    <button (click)="toggle()">X</button>
  </div>
    <ng-content></ng-content>

    <div class="todo">
      <div class="bttnCheck">
        <input type="checkbox"[(ngModel)]="todos.checked"  >
      </div>
      <input type="text"[(ngModel)]="todos.todo" >
    </div>
    <div class="Bttns">
      <div class="bttn">
        <button (click)="updateId(todos.id)" >Update</button>
      </div>
      <div class="bttn">
        <button (click)="toggle()">Cancel</button>
      </div>
    </div>
    <div class="msg_corret">
      <ng-container *ngIf="submitted === true" >
        <app-message-grat [submitter]="submitted" [right]="mesg_correct"></app-message-grat>
      </ng-container>
    </div>
  </div>

  <div (click)="toggle()" class="overlay"></div>

  <app-error-message></app-error-message>
</ng-container>
