<div class="bodyTodo">
  <div class="title">
    <h1>
      {{todo_title}}
    </h1>
  </div>
  <form (ngSubmit)="save()" [formGroup]="formGroup" #formDir="ngForm">
    <div class="todo">
      <input type="text"   formControlName="todo" required>
    </div>
    <div class="error" *ngIf="todo.invalid && formDir.onSubmit">
      <p *ngIf="todo.errors?.['required']"
      >*Nao pode ser nulo</p>
    </div>
    <div class="bttnDiv">
      <button type="submit">Salve</button>
    </div>
  </form>

  <ng-container *ngIf="submitted== true">
    <app-message-grat [right]="correct_msg" ></app-message-grat>
  </ng-container>






</div>
