<div class="bodyTodo">
  <div class="title">
    <h1>
      {{todo_title}}
    </h1>
  </div>
  <div class="todo">
    <input type="text" [(ngModel)]="data.todo" (keydown)="verifyIfNull()">
  </div>
  <div class="bttnDiv">
    <button type="submit" (click)="save()" [disabled]="blockBttn" class="btn-primario">Salvar</button>
  </div>

  <ng-container *ngIf="submitted== true">
    <app-message-grat [right]="correct_msg" ></app-message-grat>
  </ng-container>

  <ng-container>
    <app-error-message [error]="msg_error" ></app-error-message>
  </ng-container>
</div>
